
/*RESET*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

html {
    font-size: 16px;
}

/*Header*/

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;/*Указываю шрифт  */
    background-color: burlywood;/*Задаю фон для боди  */
    font-size: 1rem;/*Задаю размер  */
}

.header {
    display: flex;/*выравниваем элемепнты так как мне нужно в данном блоке  */
}

.logo-wrap {
    width: 20%;/*Указываю ширину меню */
}


.logo__picture {
    width: 100%;/*Указываю ширину меню */
}

.menu {
    display: inline-block;/*указываю что элементы блочно строчные */
    width: 100%;/*Позиционирую относительно левой крайней точки родителя */
    font-size: 0;/*Убираю отступ в меню*/
    background-color: #392c2cdd;/*Задаю фон менюшке */
}

.menu__item {
    display: inline-block;/*указываю что элементы блочно строчные */
    font-size: 1rem;/*ЗАдаю размер букв */
    padding: 2%;/*Внутренний отступ */
    margin: 2% 5%;/*Наружный отступ*/
    position: relative;/*Указываю родителя */
}

.menu__item:hover .submenu {
    display: block;/*указываю что элементы в  этом линке блочные */
    position: absolute;/*Позиционирую относительно левой крайней точки родителя */
}
.menu__link {
    width: 100%;/*Указываю ширину меню */
    font-size: 2rem;/*ЗАдаю размер букв */
    margin-bottom: 1%;/*Задаю наружный отступ от меню линка */
}

.menu__link:hover,
.submenu__link:hover {
    text-decoration: underline;/*При наведении на ссылку добавляет подчеркивание элементу*/
}

.submenu {
    width: 80%;/*Указываю ширину сабменю */
    display: none;/*Убираю блоки у сабменю */
}

.submenu__item a::after {
    content: "+";/*Добавляю контент после линка*/
}

.submenu__item {
    position: relative;/*Указываю позицию родителя */
}

.submenu__link {
    font-size: 1rem;/*Задаю размер  */
    padding: 5%;/*Делаю внутренний отступ */
    background: skyblue;/*Задаю фон линку*/
}

.menu__link,
.submenu__link,
.subsubmenu__link {
    color: azure;/*Задаю цвет */
    display: block;/*указываю что элементы в  этом линке блочные */
    text-decoration: none;/*Убираю подчеркивание для элементов сабменю*/
    white-space: nowrap;/*Убираю внутренний отступ между меню линками*/
}

.submenu__link:hover {
    background: #392c2cdd;/*Задаю фон при наведении на линки*/
}

.subsubmenu {
    width: 90%;/*Задаю ширину*/
    display: none;/*У*/
    left: 100%;/*так же задаю 100% слева чтобы была менюшка там где нужно */
    top: 0;/*Привязываю к верху */
    background: skyblue;/*Задаю цвет фона */
    font-size: 1rem;/*Задаю размер буквы*/
}

.submenu__item:hover .subsubmenu {
    text-decoration: none;/*Убираю подчеркивание для элементов сабменю*/
    display: block;/*указываю что элементы в  этом линке блочные */
    position: absolute;/*Задаю позиционирование касательно родителя */
}

.subsubmenu__link {
    padding: 7% 3%;/*Делаю внутренний оступ */
}

.subsubmenu__link:hover {
    text-decoration: underline;/*При наведении на ссылку добавляет подчеркивание элементу*/
    background: #392c2cdd;/*Задаю фоновый цвет */
}

/*SECTION*/
.section {
    margin-top: 5%;/* Делаю отступ текста и h2 от шапки страницы */
}

.section__title {
    text-align: center;/*Указываю его размещение по центру страницы */
    padding: 2% 2%;/*указываю внутренний отступ h2*/
}

.section__item {
    padding: 1% 2%; /*указываю внутренний отступ*/
    text-indent: 5%;/*Отступ с красной строки*/
}

p::first-letter {
    font-size: 2rem;/*Задаю размер буквы*/
    color: rgb(235, 79, 235);/*Указываю цвет буквы*/
    font-weight: bold;/*Задаю толщину букве в параграфе */
}

/*FOOTER*/

.footer {
    position: fixed;/* Закрепляю футер   */
    left: 40%;/* Позиционирую футер касательно левой части страницы   */
    bottom: 0;/* позиционирую футер касательно нижней точки страницы   */
    text-align: center;/* Ставлю по центру*/
    color: #888888;/* Задаю цвет  */
    text-transform: capitalize; /* Делаем , что каждое слово начинается с большой буквы */
}